<html>
    <head>
        <title>Contract data entry</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
    </head>
    <body>

        <div class="container">


            <div class="row">
                <div class="twelve columns">
                    <form method="POST" action="{{ url_for('add_user') }}">
                        <p>
                            <label for="lastname">Last name:</label>
                            <input type="text" id="lastname" name="lastname">
                        </p>
                        <p>
                            <label for="email">E-mail:</label>
                            <input type="text" id="email" name="email">
                        </p>
                        <p>
                            <label for="clear_password">Password:</label>
                            <input type="text" id="clear_password" name="clear_password">
                        </p>
                        
                        <center><button type="submit" class="button-primary">Add User</button></center>
                    </form>
                    <hr>
                </div>
            </div>


            <div class="row">
                <div class="twelve columns">
                    <form method="POST" action="{{ url_for('change_password') }}">
                        <p>
                            <label for="lastname">Last name:</label>
                            <input type="text" id="lastname" name="lastname">
                        </p>
                        <p>
                            <label for="new_password">New Password:</label>
                            <input type="text" id="new_password" name="new_password">
                        </p>
                        
                        <center><button type="submit" class="button-primary">Change User Password</button></center>
                    </form>
                    <hr>
                </div>
            </div>


            <div class="row">
                <div class="twelve columns">
                    <form method="POST" action="{{ url_for('add_contract') }}">
                        <p>
                            <label for="contract">Contract:</label>
                            <textarea cols="80" rows="20" id="contract" name="contract"></textarea>
                        </p>
                        <p>
                            <label for="url">URL:</label>
                            <input type="text" id="url" name="url">
                        </p>
                       
                        <center><button type="submit" class="button-primary">Add Contract</button></center>
                    </form>
                    <hr>
                </div>
            </div>


                <div class="row">
                    <div class="twelve columns">
                        <form method="POST" action="{{ url_for('flush_pending') }}">
                   
                            <center><button type="submit" class="button-primary">Flush Pending Documents</button></center>
                        </form>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="twelve columns">
                        <form method="POST" action="{{ url_for('count_entered_by_user') }}">
                            
                            <center><button type="submit" class="button-primary">Count Contracts by User</button></center>
                        </form>
                        <hr>
                    </div>
                </div>


                <div class="row">
                    <div class="twelve columns">
                        <form method="POST" action="{{ url_for('list_questions') }}">
                            
                            <center><button type="submit" class="button-primary">List Questions</button></center>
                        </form>
                        <hr>
                    </div>
                </div>

                


                <div class="row">
                    <div class="twelve columns">
                        <form method="POST" action="{{ url_for('add_to_question') }}">
                            <p>
                                <label for="question_id">Question id:</label>
                                <input type="text" id="question_id" name="question_id">
                            </p>
                            <p>
                                <label for="new_exp">Additional Explanation:</label>
                                <textarea cols="80" rows="20" id="new_exp" name="new_exp"></textarea>
                            </p>

                            
                            <center><button type="submit" class="button-primary">Add Explanation to Question</button></center>
                        </form>
                        <hr>
                    </div>
                </div>



            </div>
    </body>
</html>
